<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportsMapper">

    <select id="countAmountsByMonth" resultType="com.sky.vo.UserCountByMonthVO">
        SELECT DATE_FORMAT(date, '%Y-%m') AS date_month, sales_amount AS user_count
        FROM reports
        WHERE date IS NOT NULL
        ORDER BY date_month
    </select>
</mapper>
